
.whitetext {

  color: #FFF;
}


.transparent {
   background-color: rgba(0,0,0,0);
}

.dropdown:hover .dropdown-menu {
display: block;
}


/*
Navbar "hovernav" dropdown menu - this works only for screen sizes larger than phones.
The Bootstrap CSS is unchanged.
*/
@media (min-width: 768px) {
/* Use this if you wish to hide the caret
.navbar-nav .caret {
display: none;
}
*/
.navbar-nav .open ul {
display: none
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
color: #555;
background: none
}
.navbar-default .navbar-nav > li:hover {
background: #e7e7e7
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
color: #969696;
background: none
}
.navbar-inverse .navbar-nav > li:hover {
background: #080808
}
.navbar-nav .hovernav:hover > .dropdown-menu {
display: block;
}
} 

/*
Make the Facebook Like box responsive (fluid width)
https://developers.facebook.com/docs/reference/plugins/like-box/
*/
 
/* This element holds injected scripts inside iframes that in some cases may stretch layouts. So, we're just hiding it. */
#fb-root {
display: none;
}
 
/* To fill the container and nothing else */
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
width: 100% !important;
} 
