---
layout: default
title: Pinewood Greens
---

<div class="row">
	            <div class="col-md-9">
                   {% include emailjumbotron.html %}
</div>
		    <div class="col-md-3"><div class="row">
<iframe align="center" style="border: solid 1px #777"
                                                                        width="250" height="400"
                                                                        src="https://www.google.com/calendar/hosted/pinewoodgreens.com/embed?title=Association%20Calendar&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=pinewoodgreens.com_8dlgr29ukho8ps0v8dumvs4hq0%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz=America%2FNew_York"
                                                                        frameborder="5" scrolling="no"></iframe></div>
	  </div>

</div>
				
<div class="row">
<div class="col-md-12">
<p>For the most up-to-date announcements and news visit our <a href="http://www.facebook.com/PinewoodGreens">Facebook page</a>.</p>
</div>
</div>
<div class="row">
	            <div class="col-md-6">
<div class="panel panel-primary">
			<div class="panel-heading">Announcements</div>
<div class="panel-body">
 {% capture fileContent %}
{% include announcements.md %}
{% endcapture %}
{{ fileContent | markdownify }}
</div>
</div>
	            </div>
<div class="col-md-6">
<div class=" panel panel-primary">
			<div class="panel-heading">Neighborhood News</div>
<div class="panel-body">

  {% for post in site.posts limit:5 %}
    <h4>
      <a href="{{ site.baseurl }}{{ post.url }}"><span>{{ post.date | date_to_string }}</span> &raquo;  {{ post.title }}</a>  </h4>
<p>
      {{ post.excerpt }}

<a href="{{ site.baseurl }}{{ post.url }}">Read More...</a>
</p>
  
  {% endfor %}

<a href="news.html">More News...</a>
</div></div>
	            </div>
</div>

 
