 <div class="jumbotron" style="background: url('images/emailsignup.jpg') 50% 0 no-repeat;">
                        <div class="container" style="background-color: rgba(0,0,0,0.9);">
                            <h1 class="text-center" style="color: #fff;">Join our Mailing List!</h1>
                            <p class="whitetext">Keep up to date with the latest neighborhood news, including social events, neighborhood services, and more.
                               <p class="text-center"> <a class="btn btn-primary btn-large" href="subscribe.html">Subscribe Today</a></p>
                               
</div>
</div>
