<aside
                                        class="grid-3 region region-sidebar-second equal-height-element"
                                        id="region-sidebar-second">
<div class="region-inner region-sidebar-second-inner">
                                        <div
                                                class="block block-block block-1 block-block-1 odd block-without-title"
                                                id="block-block-1">
                                                <div class="block-inner clearfix">

                                                        <div class="content clearfix">
                                                                <iframe align="center" style="border: solid 1px #777"
                                                                        width="250" height="400"
                                                                        src="https://www.google.com/calendar/hosted/pinewoodgreens.com/embed?title=Association%20Calendar&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=pinewoodgreens.com_8dlgr29ukho8ps0v8dumvs4hq0%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz=America%2FNew_York"
                                                                        frameborder="5" scrolling="no"></iframe>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
</aside>
