  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if page.title %} {{ page.title }} {% endif %}</title>
<!-- If you are using the gem version, you need this only -->
<!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{site.baseurl}}/css/normalize.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/foundation.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/pwg.css">

    <script src="js/vendor/modernizr.js"></script>
  </head>
