    <div class="row"><div class="col-md-6"><a href="{{site.baseurl}}/index.html"><img class="img-responsive" src="{{site.baseurl}}/images/logo.png"/></a>
    </div><div class="col-md-6 text-right">
<!-- <div class="row text-right">Resident Service: 1-855-477-2267 <a class="btn btn-primary" href="http://www.ciranet.com/ResidentPortal">Portal Login</a></div>-->

<a href="http://www.facebook.com/PinewoodGreens"><img src="http://static.viewbook.com/images/social_icons/facebook_32.png"/>Follow us on Facebook</a>
<br><a href="contactus.html">Contact Us </a>
</div></div>
<!-- NAVIGATION AREA -->

<div class="row">
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--<a class="navbar-brand" href="#">Project name</a>-->
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
<li><a href="our_homes.html">Our Community</a></li>
<li><a href="association.html">The Association</a></li>
<li><a href="pool.html">Swimming Pool</a></li>  
<li><a href="parks.html">Parks and Parties</a></li> 
<li><a href="contactus.html">Contact Us</a></li>
</ul> </li> 
 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Resident Resources<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
<li><a href="trash_and_recycling.html">Trash and Recycling</a></li>
<li><a href="forms.html">Forms</a></li>  
<li><a href="policies.html">Community Policies</a></li> 
<li><a href="volunteer.html">Volunteer</a></li> 
<li><a href="http://www.ciranet.com/ResidentPortal">Resident Portal Login</a></li>
</ul> </li> 
 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Community News<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
<li><a href="https://www.google.com/calendar/hosted/pinewoodgreens.com/embed?src=pinewoodgreens.com_8dlgr29ukho8ps0v8dumvs4hq0%40group.calendar.google.com&amp;ctz=America/New_York">Association Calendar</a>
<li><a href="announcements.html">Facebook Announcements Feed</a></li>
<li><a href="news.html">Neighborhood News and Features</a></li>
</ul> </li> 
 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Around Town<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
<li><a href="schools.html">Schools and Colleges</a></li>
<li><a href="maps_and_metro.html">Maps and Metro</a></li>  
</ul> </li> 

</ul> 

      </div><!--/.nav-collapse -->
      </div>
    </nav>
</div>
