<header>
                
                                                                <a href="index.html" title="Home" class="active">
                                                                                <div class="module darken">Pinewood Greens HOA</div>
                                                                          
			
<div id="headertext">
<p>Resident Service
<br>1-855-477-2267 (8:30am-8:00pm Monday-Friday)</p>
<p><a href="http://www.ciranet.com/ResidentPortal" class="portalbtn">Portal Login</a></p></div>
                                                
                </header>
