<header>
                
                                                                <a href="index.html" title="Home" class="active"><div style="width: 100%;">
                                                                                <a href="index.html"><img id="banner" alt="Pinewood
                                                                        Greens Homeowners Association"
                                                                                        src="images/top.gif" style="float: left" /></a>
                                                                               
                                                                        </div>
			
<div id="headertext">
<p>Resident Service Center: 1-855-477-2267
<br>8:30am-8:00pm</p></div>
                                                
                </header>
