<ul class="menu">
                                                                        <li class="first expanded active-trail"><a
                                                                                href="welcome_home.html" title="" class="active-trail">Pinewood
                                                                                        Greens</a>
                                                                        <ul class="menu">
                                                                                        <li class="first leaf"><a href="welcome_home.html">Welcome
                                                                                                        Home</a></li>
                                                                                        <li class="leaf active-trail"><a href="association.html"
                                                                                                class="active-trail active">The Association</a></li>
                                                                                        <li class="leaf"><a href="office.html">The Office</a></li>
                                                                                        <li class="last leaf"><a
                                                                                                href="newslettersandnotices.html">Newsletters and
                                                                                                        Notices</a></li>
                                                                                </ul></li>
                                                                        <li class="expanded"><a href="our_homes.html" title="">Our
                                                                                        Community</a>
                                                                        <ul class="menu">
                                                                                        <li class="first leaf"><a href="our_homes.html">Our
                                                                                                        Homes</a></li>
                                                                                        <li class="leaf"><a href="pool.html">Swimming Pool</a></li>
                                                                                        <li class="last leaf"><a href="parks.html">Parks and
                                                                                                        Parties</a></li>
                                                                                </ul></li>
                                                                        <li class="expanded"><a href="schools.html" title="">Around
                                                                                        Town</a>
                                                                        <ul class="menu">
                                                                                        <li class="first leaf"><a href="schools.html">Schools
                                                                                                        and Colleges</a></li>
                                                                                        <li class="last leaf"><a href="maps_and_metro.html">Maps
                                                                                                        and Metro</a></li>
                                                                                </ul></li>
                                                                        <li class="last expanded"><a href="schools.html" title="">Resources</a>
                                                                        <ul class="menu">
                                                                                        <li class="first leaf"><a
                                                                                                href="trash_and_recycling.html">Trash &amp; Recycling</a></li>
                                                                                        <li class="leaf"><a href="forms.html">Forms You Can
                                                                                                        Use</a></li>
                                                                                        <li class="leaf"><a href="documents.html">Documents
                                                                                                        &amp; Policies</a></li>
                                                                                        <li class="last leaf"><a href="volunteer.html">Please
                                                                                                        Volunteer</a></li>
                                                                                </ul></li>
                                                                </ul>
