 <div class="jumbotron" style="background: url('images/pool-texture.jpg') 50% 0 no-repeat;">
                        <div class="container" style="background-color: rgba(0,0,0,0.9);">
                            <h1 class="text-center" style="color: #fff;">Pool Season is Almost Here!</h1>
                            <p class="whitetext">To enjoy this great neighborhood benefit, a pool pass is required for entry into the pool.  This includes everyone in your entire household.  To apply, use our convenient online application. 
                               <p class="text-center"> <a class="btn btn-primary btn-large" href="http://goo.gl/forms/A1Sl467NwK">Apply Online</a></p>
                               
</div>
</div>
