 <div class="jumbotron" style="background: url('images/snow.JPG') 50% 0 no-repeat;">
                        <div class="container" style="background-color: rgba(0,0,0,0.9);">
                            <h1 class="text-center" style="color: #fff;">It's snowing!</h1>
                            <p class="whitetext">For critical neighborhood information regarding the current weather event, please check our <a href="http://www.facebook.com/PinewoodGreens">facebook page</a> and the <a  href="2016/01/22/Important Snow Information.html">snow storm information page</a>.</p>
                               
</div>
</div>
