 <div class="jumbotron" style="background: url('images/treecover.jpg') 50% 0 no-repeat;">
                        <div class="container" style="background-color: rgba(0,0,0,0.8);">
                            <h1 class="text-center" style="color: #fff;">Welcome Home</h1>
                            <p class="whitetext">We are an association of homeowners in the Pinewood Greens community.  Our community wouldn't be as great as it is without the hard work of many volunteer homeowners such as yourself.  We are always looking for volunteers for everything from small one-time tasks to ongoing help.  If you're interested in helping out, we would love to hear from you.</p>
                               <p class="text-center"> <a class="btn btn-primary btn-large" href="volunteer.html">Get Involved</a></p>
</div>
</div>
