<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if page.title %} {{ page.title }} {% endif %}</title>
<!-- If you are using the gem version, you need this only -->
<!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/pwg.css">

    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>
<!--
<div class="row">
<img src="images/treeicon.svg"/><div class="pwglogo">Pinewood Greens</div><div class="pwglogosm"> Homeowners Association</div>
</div>
-->
<!-- HEADER AREA -->

    <div class="row"><div class=" large-12 columns"><a href="{{site.baseurl}}/index.html"><img src="images/treeicon.svg" style=" float: left; vertical-align: middle;"/></a>
    </div></div>
<!-- NAVIGATION AREA -->
<div class="row">
<nav class="top-bar" data-topbar role="navigation">
 <ul class="title-area">

<li><a href="http://www.facebook.com/PinewoodGreens"><img src="http://static.viewbook.com/images/social_icons/facebook_32.png"/></a></li>
<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li> </ul> 
<section class="top-bar-section"> 
<!-- Right Nav Section --> 
<ul class="right"> 
<li><a href="association.html">About</a></li>
<li><a href="announcements.html">Announcements</a></li>
<li class="has-dropdown"><a href="our_homes.html">Our Community</a>
<ul class="dropdown"> 
<li><a href="our_homes.html">Our Homes</a></li>
<li><a href="pool.html">Swimming Pool</a></li>  
<li><a href="parks.html">Parks and Parties</a></li> 
</ul> </li> 
<li class="has-dropdown"><a href="maps_and_metro.html">Around Town</a>
<ul class="dropdown"> 
<li><a href="schools.html">Schools and Colleges</a></li>
<li><a href="maps_and_metro.html">Maps and Metro</a></li>  
</ul> </li> 
<li class="has-dropdown"><a href="residentservice.html">Homeowner and Resident Resources</a> 
<ul class="dropdown"> 
<li><a href="trash_and_recycling.html">Trash and Recycling</a></li>
<li><a href="forms.html">Forms</a></li>  
<li><a href="documents.html">Documents and Policies</a></li> 
<li><a href="volunteer.html">Volunteer</a></li> 
<li><a href="office.html">Office</a></li>
<li><a href="residentservice.html">Resident Service</a></li>
<li><a href="https://www.google.com/calendar/hosted/pinewoodgreens.com/embed?src=pinewoodgreens.com_8dlgr29ukho8ps0v8dumvs4hq0%40group.calendar.google.com&amp;ctz=America/New_York">Association Calendar</a>
</ul> </li> 
</ul>  </section> </nav></div>
<section id="main-content">
			<div class="row"><div class=" large-12 columns">
				{{ content }}
</div></div>
<!--
			<div class="row">
				<iframe align="center" style="border: solid 1px #777"
                                                                        width="250" height="400"
                                                                        src="https://www.google.com/calendar/hosted/pinewoodgreens.com/embed?title=Association%20Calendar&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=pinewoodgreens.com_8dlgr29ukho8ps0v8dumvs4hq0%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz=America%2FNew_York"
                                                                        frameborder="5" scrolling="no"></iframe>
			</div>

-->
</section>
   <div class="row">
	<div class="large-6 columns">2731 Hyson Lane, Falls Church,
                                                                                Virginia 22043</div>
<div class="large-6 columns text-right">Community Office Phone: 703-560-8920</div>

</div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
